<p
  style="
    font-size: 1.1em;
    margin-top: 2em;
    background: var(--font-color);
    color: var(--bg-color);
    padding: 1em;
    border-radius: 0.5rem;
    line-height: 1.3;
  "
>
  Hi there! Thanks for reading!<br /><br />
  My name is Ivan Tolkunov, I'm a software engineer passionate about programming
  and AI.<br /><br />In 2024, I'm looking for a fulltime or an internship
  position as a <strong>software engineer</strong>, preferably in
  <strong>AI</strong> space based in <strong>Seattle, WA</strong> (remote is
  OK). Check out
  <a href="/ivan_tolkunov_software_engineer.pdf">my resume</a> and get in touch
  via <a href="mailto:tolkunov.ivan.s@gmail.com">email</a> or
  <a target="_blank" href="https://www.linkedin.com/in/ivantolkunov/"
    >LinkedIn</a
  >.
</p>
